:root {
  --primary: #007bff;
  --secondary: #ef00a7;
  --background: #ffffff;
  --header: #f2f6ff;
  /* --header: #718096; */
  --sidebar: #718096;
  --text: #1a202c;
  --subtext: #718096;
  --danger: #eb8585;
}

body {
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
}
