.layout {
  display: flex;
  flex-direction: column;
  /* height: 100vh; */
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
}

.logolink,
.logolink:visited,
.logolink:active {
  text-decoration: none;
  color: white !important;
}

.logolink:hover {
  text-decoration: none !important;
}

.links a,
.links a:visited {
  text-decoration: none;
  color: #4800ff !important;
}

.links a:hover {
  text-decoration: underline;
}

.layout a,
.layout a:visited,
.layout a:active {
  color: #7cb0f1;
  text-decoration: none;
}

.layout a:hover {
  text-decoration: underline;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  max-height: 60px;
  min-height: 60px;
  padding: 5px 20px;
  border-bottom: 1px solid #131313;
  color: white;
  background-color: #7cb0f1;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.wordmark {
  font-size: 18px;
  margin-left: 9px;
}

.links {
  display: flex;
  gap: 20px;
}

.content {
  flex: 1;
  padding: 20px;
  background-color: #f2f2f2;
  min-height: calc(100vh - 60px - 3rem - 10px - 60px);
}

.footer {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  color: white;
}

.heading {
  background-color: #f2f2f2;
  padding: 5px 20px;
}
